{% extends "home/home.html" %}

{% block title %}<h4>Connections</h4><br>{% endblock %}

{% block content %}

{% if user.is_student %}

    {% if connections %}
        <table id = "connection-table" class="table table-condensed table-hover table-striped ng-table">
            <tr class = "table_header">
                <th></th>
                <th>Name</th>
                <!--Message-->
                <th>Remove</th>
            </tr>
            
            {% for current in connections %}
            <tr>
                <td><img src="{{ pending.mentor.profile.}}" alt="" height=50 width=50 class="thumbnail"></img></td>
                <td class = "name"><a href="{% url "profile" pending.mentor.pk %}"> {{ pending.mentor.first_name }}{{ pending.mentor.last_name }}</a></td>
                <!--will add msging link-->
                <td> 
                    <form method="POST" action="{% url "connections" %}">
                    {% csrf_token %}
                    <input class="task" name="task" type="hidden" value="edit_connection"></input>
                    <input class="user_id" name="user_id" type="hidden" value="{{ current.mentor.id }}"></input>
                    <input class = "remove_btn" name = "action" type="submit" value="Remove"></input>
                    </form>
                </td>  
            </tr>
            {% endfor %}

        </table>

    {% else %}
        <p>You have no connections! Go to Search to find mentors to connect with.</p>
    {% endif %} 

{% elif user.is_mentor %}
    {% if connections %}
        <table id = "connection-table" class="table table-condensed table-hover table-striped ng-table">
            <tr class = "table_header">
            <th></th>
            <th>Name</th>
            <!--Message-->
            <th>Remove</th>
        </tr>
        
        {% for current in connections %}
        <tr>
            <td><img src="{{ pending.student.profile.}}" alt="" height=100 width=100 class="thumbnail"></img></td>
            <!--will add msging link-->
            <td class = "name"><a href="{% url "profile" pending.student.pk %}"> {{ pending.student.first_name }}{{ pending.student.last_name }}</a></td>
            <td> 
                <form method="POST" action="{% url "connections" %}">
                {% csrf_token %}
                <input class="user_id" name="task" type="hidden" value="edit_connection"></input>
                <input class="user_id" name="user_id" type="hidden" value="{{ current.student.id }}"></input>
                <input class = "remove_btn" name = "action" type="submit" value="Remove"></input>
                </form>
            </td>  
        </tr>
        {% endfor %}

        </table>
    {% else %}
        <p>You have no connections! Go to Search to find students to connect with.</p>
    {% endif %} 
{% endif %}

{% endblock %}