<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    {% comment %} <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> {% endcomment %}
    {% comment %} <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> {% endcomment %}
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    {% block css %}
    <style>
    .bs-example{
        margin: 2%;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    </style>
    {% endblock %}
</head>

<body>

<div class="bs-example">
    <nav class="navbar navbar-expand-lg  navbar-light bg-light-blue"> 
        <a href="{% url "home" %}" class="navbar-brand">Mentor Meet</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% if user.is_authenticated %}
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <li class="nav-item active"><a href="{% url "home" %}" class="nav-link">Home</a><li>
                <li class="nav-item"><a href="{% url "profile" user.id %}" class="nav-link">Profile</a></li>
                <li class="nav-item"><a href="{% url "search" %}" class="nav-link">Search</a></li>
                <li class="nav-item"><a href="{% url "connections" %}" class="nav-link">Connections</a></li>
                <li class="nav-item"><a href="{% url "pending" %}" class="nav-link">Pending</a></li>
            </div>
            <div class="navbar-nav ml-auto">
                <li class="nav-item"><a href="/logout" class="nav-link">Log out</a></li>
            </div>
        </div> 

    {% else %}
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <li class="nav-item active"><a href="{% url "home" %}" class="nav-link">Home</a></li>   
                <li class="nav-item"><a href="#" class="nav-link">About Us</a></li>   
                <li class="nav-item"><a href="#" class="nav-link">Students</a></li>   
                <li class="nav-item"><a href="#" class="nav-link">Mentors</a></li>               
            </div>
            <div class="navbar-nav ml-auto">
                <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
                <li class="nav-item"><a href="{% url "register" %}" class="nav-link">Register</a><li>
            </div>
        </div>
        {% endif %}
    </nav>
</div>

<div id="content", name="content", class="main">
    <div class="row justify-content-center">
        <div class="col-8">
            {% block title %}
            <h1>Mentor Meet</h1>
            {% endblock %}
            
            {% block content %}

                <div class="media">
                <img class="img-fluid" alt="Responsive image" src="/media/mentorship.png">
                </div>

                <body>
                <p align="center">
                    <br>
                    Mentor Meet is a networking application used to foster mentor and student relationships! 
                    <br>
                    <br>
                    Sign up as either role of a mentor or student and start connecting to form meaningful connections!
                    <br>
                </p>
                </body>

                <div class="media">
                <img alt="Responsive image" src="/media/cloud.png" class="center">
                </div>

                <body>
                <p align="center">
                    <br>
                    As a student, you can send requests to mentors to assist you with any career navigation and tips you may need.
                    <br>
                </p>
                </body>  

            {% endblock %}
        </div>
    </div>
</div>

</body>
</html>





