{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Mentor App</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>-->
        <!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>-->
        <style type="text/css">
            .bs-example{
                margin: 20px;
            }
        </style>
    </head>
    <body>
    <div class="bs-example">
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <a href="#" class="navbar-brand">Mentor App</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            {% if user.is_authenticated %}
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <a href="/mainpage" class="nav-item nav-link active">Home</a>
                    <a href="/profile" class="nav-item nav-link">Profile</a>
                    <a href="/search" class="nav-item nav-link" tabindex="-1">Search</a>
                </div>
                <div class="navbar-nav ml-auto">
                    <a href="/logout" class="nav-item nav-link">Log out</a>
                </div>
            </div>
            {% else %}
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <a href="#" class="nav-item nav-link active">About Us</a>
                    <a href="#" class="nav-item nav-link active">Students</a>
                    <a href="#" class="nav-item nav-link active">Mentors</a>
                </div>
                <div class="navbar-nav ml-auto">
                    <a href="/login" class="nav-item nav-link">Login</a>
                    <a href="/register" class="nav-item nav-link">Register</a>
                </div>
            </div>
            {% endif %}
        </nav>
    </div>
    <div id="content", name="content", class="main">
        <div class="row justify-content-center">
            <div class="col-8">
                <h1>Mentor App</h1>
                {% if user.is_authenticated %}
                    {% block content %}
                        {{ user.username }}
                    MAIN PAGE
                    {% endblock %}
                {% else %}
                    <p>Login<a href="/login"> here</a> </p>
                {% endif %}
            </div>
        </div>
    </div>
    </body>
</html>





