{% extends "home/home.html" %}

{% block content %}
    <div class="content-section">
        <div class="media">
            <img src="{{ profile.image.url }}" width="60%" height="60%">
        </div>    
        {% if user.is_authenticated %}
            {% if user.is_student %}
                <h2>You are registered as a Student</h2>
            {% elif user.is_mentor %}
                <h2>You are registered as a Mentor</h2>  
            {% endif %}  
            <br>
        
        <div class="profile-details">
            <p>
                Username:
                {{ user.username }}
            </p>
            <p>
                Name:
                {{ user.first_name }} {{ user.last_name }}
                <form method="POST" action="{% url "edit" %}">
                {% csrf_token %}
                <input name="new_first_name" type="text" placeholder="Edit First Name"></input>
                <input name ="new_last_name" type="text" placeholder="Edit Last Name"></input>
            </p>
            <p>
                Email:
                {{ user.email }}
                <input name="new_email" type="text" placeholder="Edit Email Address"></input>
            </p>
            <p>
                Link:
                {{ profile.website }}
                <input name="new_website" type="text" placeholder="Edit Link"></input>
            </p>
            <p>
                Bio:
                {{ profile.bio }}
                <input name="new_bio" type="text" placeholder="Edit Biography"></input>
            </p>
            <p>
                School:
                {% for school in user.school.all %}
                {{ school }} 
                {% endfor %}  
                <input name="new_school" type="text" placeholder="Add School"></input>                    
            </p>
            <p>
                Major:
                {% for major in user.majors.all %}
                {{ major }}
                {% endfor %}
                <input name="new_school" type="text" placeholder="Add Major"></input> 
            </p>
            <p>
                Industry Interests:
                {% for industry in user.industries.all %}
                {{ industry }}
                {% endfor %}
                <input name="new_industry" type="text" placeholder="Add Industry"></input> 
                </form>
            </p>
        </div>
        {% else %}
            <a href="/login" class="btn btn-primary btn-lg active">Login to Connect</a>
        {% endif %}
    </div>
{% endblock content %}
