{% extends "home/home.html" %}

{% block css %}
<style>
#bio {
    width:100%
}
.general {
    width:100%
}
.container {
    width: 80%
}
.name {
    width:40%
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.inputfile {
	width: 1px;
	height: 1px;
	overflow: hidden;
}
.inputfile + label {
    font-size: 1.25em;
    font-weight: 500;
    color: black;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background-color: lightgray;
    display: inline-block;
    position: relative;
    align-content: center;

}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: gray;
}


#upload {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
</style>
{% endblock %}


{% block content %}
    <div class="content-section">
        <div class="media">
            <img src="{{ profile.image.url }}" width="60%" height="60%" class="center">
        </div>
        <br>
            <form method="POST" action="{% url "edit" %}" enctype="multipart/form-data">
            {% csrf_token %}
        <div class="center">
            <input type="file" name="new_profile_image" id="file" class="inputfile">
            <label for="file">Choose a file</label>
            <button id="upload" type="submit" class="btn btn-primary btn-sm">Upload</button>
        </div>
            </form>
        
            <br>
        {% if user.is_authenticated %}
            {% if user.is_student %}
                <h2 align="center">You are registered as a Student</h2>
            {% elif user.is_mentor %}
                <h2 align="center">You are registered as a Mentor</h2>  
            {% endif %}  
            <br>
        
        <div class="container">
            <p>
                <strong>Username:</strong>
                <br>
                {{ user.username }}
            </p>
            <p>
                <strong>Name:</strong>
                <br>
                {{ user.first_name }} {{ user.last_name }}
                <br>
                <form method="POST" action="{% url "edit" %}">
                {% csrf_token %}
                <input class="name" name="new_first_name" type="text" placeholder="Edit First Name"></input>
                <input class="name" name ="new_last_name" type="text" placeholder="Edit Last Name"></input>
            </p>
            <p>
               <strong> Email:</strong>
               <br>
                {{ user.email }}
                <br>
                <input class="general" name="new_email" type="text" placeholder="Edit Email Address"></input>
            </p>
            <p>
                <strong>Link:</strong>
                <br>
                {{ profile.website }}
                <br>
                <input class="general" name="new_website" type="text" placeholder="Edit Link"></input>
            </p>
            <p>
                <strong>Bio:</strong>
                <br>
                {{ profile.bio }}
                <br>
                <textarea name="new_bio" rows="10" cols="50" placeholder="Edit Biography"></textarea>
            </p>
            <p>
                <strong>School:</strong>
                <br>
                {% for school in user.school.all %}
                {{ school }} <input class="btn btn-sm btn-outline-danger py-0 px-1" style="font-size: 0.8em;" name = "delete_school" type="submit" value="✕"></input>
                <br>
                {% endfor %}  
                <input class="general" name="new_school" type="text" placeholder="Add School"></input>    
            </p>
            <p>
                <strong>Major:</strong>
                <br>
                {% for major in user.majors.all %}
                {{ major }} <input class="btn btn-sm btn-outline-danger py-0 px-1" style="font-size: 0.8em;" name = "delete_major" type="submit" value="✕"></input>
                <br>
                {% endfor %}
                <input class="general" name="new_school" type="text" placeholder="Add Major"></input> 
            </p>
            <p>
                <strong>Industry Interests:</strong>
                <br>
                {% for industry in user.industries.all %}
                {{ industry }} <input class="btn btn-sm btn-outline-danger py-0 px-1" style="font-size: 0.8em;" name = "delete_industry" type="submit" value="✕"></input>
                <br>
                {% endfor %}
                <input class="general" name="new_industry" type="text" placeholder="Add Industry"></input> 
                <br>
                <br>
                <input class="btn btn-primary btn-lg" name = "submit" type="submit" value="Submit"></input>                
                </form>
                <br>
            </p>
        </div>
        {% else %}
            <a href="/login" class="btn btn-primary btn-lg active">Login to Connect</a>
        {% endif %}
    </div>
{% endblock content %}
