{% extends "home/home.html" %}
{% load crispy_forms_tags %}


{% block content %}
    <div class="content-section">
        <div class="media">
        {% comment %} <img class="rounded-circle account-img" src="{{ user.profile.image.url }}"> {% endcomment %}
        <div class="media-body">
            <img src="{{ profile.image.url }}" width="60%" height="60%">
            {% if user.is_authenticated and user.is_student %}
        
                <div class="profile-details">
                <h2>You are registered as a student</h2>
                    <p>
                        Username:
                        {{ user.username }}
                    </p>
                    <p>
                        Name:
                        {{ user.first_name }} {{ user.last_name }}
                    </p>
                    <p>
                        Email:
                        {{ user.email }}
                    </p>
                    <p>
                        Link:
                        {{ profile.website }}
                    </p>
                    <p>
                        Bio:
                        {{ profile.bio }}
                    </p>
                    <p>
                        School:
                        {% for school in user.school.all %}
                        {{ school }} 
                        {% endfor %}  
                                            
                    </p>
                    <p>
                        Major:
                        {% for major in user.majors.all %}
                        {{ major }}
                        {% endfor %}
                    </p>
                    <p>
                        Industry Interests:
                        {% for industry in user.industries.all %}
                        {{ industry }}
                        {% endfor %}
                    </p>
                    <p>
                        Requests:
                        {% for request in user.requests.all %}
                        {{ request }}
                        {% endfor %}
                    </p>
                </div>
            {% elif user.is_authenticated and user.is_mentor %}
                <div class="profile-details">
                <h2>You are registered as a mentor</h2>
                    <p>
                        Username:
                        {{ user.username }}
                    </p>
                    <p>
                        Name:
                        {{ user.first_name }}
                    </p>
                    <p>
                        Last name:
                        {{ user.last_name }}
                    </p>
                    <p>
                        Email:
                        {{ user.email }}
                    </p>
                    </p>
                    <p>
                        School:
                        {% for school in user.school.all %}
                        {{ school }}
                        {% endfor %}                        
                    </p>
                    <p>
                        Major:
                        {% for major in user.majors.all %}
                        {{ major }}
                        {% endfor %}
                    </p>
                    <p>
                        Industries:
                        {% for industry in user.industries.all %}
                        {{ industry }}
                        {% endfor %}
                    </p>
                    <p>
                        Requests:
                        {% for request in user.requests.all %}
                        {{ request }}
                        {% endfor %}
                    </p>
                    <p>
                        Company:
                        {% for company in user.companies.all %}
                        {{ company }}
                        {% endfor %}
                    </p>
                </div>
            {% else %}
            <p><a href="/login" class="btn btn-primary btn-lg active">Login</a> </p>
            {% endif %}
        </div>
      </div>
      <!-- FORM HERE -->
    </div>
{% endblock content %}
