{% extends "home/home.html" %}


{% block content %}
    <div class="content-section">
        <div class="media">
            <img src="{{ profile.image.url }}" width="60%" height="60%">
        </div>    
        {% if user.is_authenticated %}
            {% if user.id == pk %}
                {% if user.is_student %}
                    <h2>You are registered as a student</h2>
                {% elif user.is_mentor %}
                    <h2>You are registered as a mentor</h2>  
                {% endif %}  
                <br>
                <a href ='{% url "edit" %}' class="btn btn-primary btn-sm">Edit Profile</a>          
            {% elif user.id != pk %}
                {% if profile_connection %}
                    <h4>You have sent a Connection Request</h4>
                {% else %}
                    <form method="POST" action="{% url "profile" pk %}">
                    {% csrf_token %}
                    <input name="user_id" type="hidden" value="{{ pk }}"></input>
                    <input class="btn btn-primary btn-sm" name = "action" type="submit" value="Connect"></input>
                    </form>
                {% endif %}
            {% endif %}
        {% else %}
            <a href="/login" class="btn btn-primary btn-lg active">Login to Connect</a>
        {% endif %}
        <div class="profile-details">
        <br>
            <p>
                <strong>Username:</strong>
                {{ profile_user.username }}
            </p>
            <p>
                <strong>Name:</strong>
                {{ profile_user.first_name }} {{ profile_user.last_name }}
            </p>
            <p>
                <strong>Email:</strong>
                {{ profile_user.email }}
            </p>
            <p>
                <strong>Link:</strong>
                {{ profile.website }}
            </p>
            <p>
                <strong>Bio:</strong>
                {{ profile.bio }}
            </p>
            <p>
                <strong>School:</strong>
                {% for school in profile_user.school.all %}
                {{ school }} 
                {% endfor %}  
                                    
            </p>
            <p>
                <strong>Major:</strong>
                {% for major in profile_user.majors.all %}
                {{ major }}
                {% endfor %}
            </p>
            <p>
                <strong>Industry Interests:</strong>
                {% for industry in profile_user.industries.all %}
                {{ industry }}
                {% endfor %}
            </p>
            <p>
                <strong>Requests:</strong>
                {% for request in profile_user.requests.all %}
                {{ request }}
                {% endfor %}
            </p>
        </div>
      </div>
    </div>
{% endblock content %}
