{% extends "home/home.html" %}

{% block title %}<h4>About Us</h4><br>{% endblock %}

{% block content %}
<body>
    <p align= "justify">
        Mentor Meet is the first project created by our team NTFs. We are comprised of Natalia Harrow,
        Terri Thampan, and Florence Fong.
        <br> </br>
        Aside from being an acronym of our names, NTFs is short for <i>Neurotrophic factors</i>.
        Neurotrophic factors are biomolecules that help promote the growth and survival in neurons (brain cells), 
        and also with the formation of long-term memories. 
        Likewise, we wish to help promote the growth of students and help nurture them as they
        take their first steps into the working world- as well as help them create memorable moments 
        with the mentors they find along the way.

    </p>
</body>

<div class="media">
    <img alt="helpinghand" src="/media/helpinghands.png" style="width:400px;height:400px;" class="center">
    </div>
            

{% endblock content %}  